# Compiled source #
###################
*.pyc
__pycache__/

# Logs and databases #
######################
*.log
log/

# Obsolete files #
##################
obs/

sample.npy

*.unp
*.xml
test.unp
test.xml